.form {
    margin-right: 200px;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 40px;
    background-color: whitesmoke;
    border-radius: 30px;
    width: 500px;
    margin-left: 300px;
    font-family: sans-serif;
    font-weight: bolder;
    box-shadow: 8px 8px 3px 50px rgba(1, 0, 50, .5);
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 8em;
    margin-top: 8em;
}

.card {
    background-color: white;
    padding: 1.5em;
    border-radius: 4px;
    box-shadow: 10px 20px 40px 50px rgba(0, 0, 0, .1)
    ;

    margin-bottom: 10px;
}

label {
    font-family: sans-serif;
    color: blue;
    font-style: bolder;
}

input {
    padding: 8px;
    border-radius: 5px;
    border-color: aqua;
}

textarea {
    border-radius: 8px;
    border-color: aqua;
}

body {
    background-color: lightblue;
}
footer{background-color: black;
padding-left: 500px;
}
