.form{  margin-left: 100px;
    margin-right: 200px;
    padding-right: 50px;
    margin-top: 5%;
    padding-left: 400px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 40px;
    background-color:whitesmoke;
    border-radius: 30px;
    width: 500px;
    
}